@page "/energybalanceev"

@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.BarChart
@using System.Drawing
@inject AppState AppState

<PageTitle>Balans energii</PageTitle>
<div class="d-flex justify-content-center">
    <h1>Sprawdź balans energii otrzymany po optymalizacji przy użyciu baterii aut elektrycznych w poszczególnych dniach</h1>
    </div>
    <div class="col-sm">
     <label for="applyCalendarStart">Wybierz dzień który chcesz zobaczyć na wykresie</label>
    <input @bind-value=NewValueStart type="date" class="form-control" id="applyCalendarStart" aria-describedby="applyCalendarStart" placeholder="">
    </div>
        <button @onclick=GetValuet>Aktualizuj wykres</button>         <button @onclick=DeleteValuet>Wyczyść wykres</button>
    <div class="col-sm justify-content-center">
    <Chart Config="_config" @ref="_chart"></Chart>
    </div>

@code {
    private LineConfig _config;
    private Chart _chart;

    ImportCSVService importCSVService = new ImportCSVService();


    private DateTime CurrentValueStart { get; set; }
    private DateTime CurrentValueEnd { get; set; }

    private DateTime NewValueStart { get; set; }
    private DateTime NewValueEnd { get; set; }

    private void GetValuet()
    {
        CurrentValueStart = NewValueStart;
        CurrentValueEnd =  NewValueStart.AddDays(1);

        GetDatasetService getDatasetService = new GetDatasetService();
        List<UserUsageModel> userUsageModel = importCSVService.ReturnList(true, false, AppState.UsageOfEnergyList);
        CalculateEnergyBalanceService calculateEnergyBalance = new CalculateEnergyBalanceService();
        List<SolarProductionDataModel> solarProductionModel = importCSVService.ReturnListSolar(false, false, AppState.ProductionOfSolarEnergy);
        List<WindProductionDataModel> windProductionModel = importCSVService.ReturnListWind(false, false, AppState.ProductionOfWindEnergy, AppState.InstalledPower);

        var energyBalance = calculateEnergyBalance.CalculatedEnergyBalanceModelBeforeBattery(solarProductionModel, windProductionModel, userUsageModel);

        EVService eVService = new EVService();
        var eVList = eVService.getEVListFromCSV(AppState.CarListAtTheGrid);

        EVEnergyBalanceService EVservice = new EVEnergyBalanceService(eVList, energyBalance, AppState.UsageOfEVCarsDaily, AppState.HowMuchEnergyCanEVLoadFromGridForAMinute, AppState.HowMuchEnergyCanEVDonateToGridForAMinute);
        var listOfEnergyBalanceAfterEVs = EVservice.GetEVEnergyBalance();

        var energyBalanceAfterEVDataset = getDatasetService.GetEnergyBalance(listOfEnergyBalanceAfterEVs);

        var time = getDatasetService.GetAxisXMinutes(userUsageModel, CurrentValueStart, CurrentValueEnd);

        energyBalanceAfterEVDataset.Label = CurrentValueStart.Date.ToString() + " do " + CurrentValueEnd.Date.ToString();

        if (_config.Data.Labels.Count == 0)
            _config.Data.Labels.AddRange(time);
        _config.Data.Datasets.Add(energyBalanceAfterEVDataset);
    }

    private void DeleteValuet()
    {
        _config.Data.Datasets.Clear();
        _config.Data.Labels.Clear();
    }  


    protected override void OnInitialized()
    {
         _config = new LineConfig
                    {
                        Options = new LineOptions
                        {
                            Responsive = true,
                            Title = new OptionsTitle
                            {
                                Display = true,
                                Text = "Balans energii elektrycznej po optymalizacji z użyciem aut elektrycznych"
                            },
                            Tooltips = new Tooltips
                            {
                                Mode = InteractionMode.Nearest,
                                Intersect = true
                            },
                            Hover = new Hover
                            {
                                Mode = InteractionMode.Nearest,
                                Intersect = true
                            },
                            Scales = new Scales
                            {
                                XAxes = new List<CartesianAxis>
                                {
                                    new CategoryAxis
                                    {
                                        ScaleLabel = new ScaleLabel
                                        {
                                            Display = true,
                                            LabelString = "Godziny"
                                        }
                                    }
                                },
                                YAxes = new List<CartesianAxis>
                                {
                                    new LinearCartesianAxis
                                    {
                                        ScaleLabel = new ScaleLabel
                                        {
                                            Display = true,
                                            LabelString = "kWh"
                                        }
                                    }
                                }
                            }
                        }
                    };
    }
}
