@page "/Graphs"
@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.BarChart
@using AplikacjaSmartGrid.Graphs.Model;
@using AplikacjaSmartGrid.Graphs.Services;
@using System.Drawing
@inject NavigationManager NavManager

<PageTitle>Strona Główna</PageTitle>
<div class="d-flex justify-content-center"><h1>Smart Grid App</h1></div>


<div class="row">
    <div class="col-sm justify-content-center">
    <Chart Config="_config" @ref="_chart"></Chart>
    <button @onclick="RedirectToUseOfEnergySite">Aktualizuj zużycie</button>
    </div>
    <div class="col-sm justify-content-center">
    <Chart Config="_config2" @ref="_chart2"></Chart>
    <button @onclick="RedirectToEnergyProductionSite">Aktualizuj produkcje energii</button>
    </div>
        <div class="col-sm" justify-content-center>
    <Chart Config="_config3" @ref="_chart3"></Chart>
    <button @onclick="RedirectToWindAndOthersEnergyProductionSite">Aktualizuj zewnętrznych dostawców energii</button>
    </div>
</div>
<div class="row">
    <div class="col-sm justify-content-center">
    <Chart Config="_config4" @ref="_chart4"></Chart>
    <button @onclick="RedirectToEnergyBalance">Sprawdź balans energii</button>
    </div>
        <div class="col-sm justify-content-center">
    <Chart Config="_config5" @ref="_chart5"></Chart>
@*
    <button @onclick="RandomizeData">Randomize Data</button>
    </div>
        <div class="col-sm" justify-content-center>
    <Chart Config="_config6" @ref="_chart6"></Chart>*@

    <button @onclick="RandomizeData">Randomize Data</button>
    </div>
</div>

@code {
    private const int InitalCount = 7;
    private LineConfig _config;
    private Chart _chart;
    private LineConfig _config2;
    private Chart _chart2;
    private LineConfig _config3;
    private Chart _chart3;
    private LineConfig _config4;
    private Chart _chart4;
    private LineConfig _config5;
    private Chart _chart5;

    ImportCSVService importCSVService = new ImportCSVService();

    protected override void OnInitialized()
    {

        List<UserUsageModel> userUsageModel = importCSVService.ReturnList(false, true);
        List<UserUsageModel> userUsageModel2 = importCSVService.ReturnList(false, false);
        List<SolarProductionDataModel> solarProductionModel = importCSVService.ReturnListSolar(true);
        List<WindProductionDataModel> windProductionModel = importCSVService.ReturnListWind(true);
        List<EnergyBalanceModel> energyBalanceModel = new List<EnergyBalanceModel>();
        List<String> ppes = new List<String>();
        List<string> time = new List<string>();
        List<string> timeTrimmed = new List<string>();
        GetDatasetService getDatasetService = new GetDatasetService();
        CalculateEnergyBalanceService calculateEnergyBalanceService = new CalculateEnergyBalanceService();

        _config = LineConfigPreparation("Dzienne zużycie energii elektrycznej", "Dni", "kW/h");

        _config2 = LineConfigPreparation("Produkcja energii elektrycznej z energii słonecznej", "Dni", "kW/h");

        _config3 = LineConfigPreparation("Produkcja energii elektrycznej z energii wiatrowej", "Dni", "kW/h");

        _config4 = LineConfigPreparation("Bilans Końcowy Energii bez aut elektrycznych", "Dni", "kW/h");

        _config5 = LineConfigPreparationEnergyBalance("Bilans Końcowy Energii z autami elektrycznych", "Dni", "kW/h");


        IDataset<int> dataset1 = new LineDataset<int>(RandomScalingFactor(InitalCount))
        {
            Label = "Własna produkcja dzienna",
            BackgroundColor = ColorUtil.FromDrawingColor(ChartColors.Red),
            BorderColor = ColorUtil.FromDrawingColor(ChartColors.Red),
            Fill = FillingMode.Disabled
        };

        IDataset<double> datasetUserUsage = new LineDataset<double>()
        {
            Label = "Zuzycie energii elektrycznej",
            BackgroundColor = ColorUtil.FromDrawingColor(ChartColors.Blue),
            BorderColor = ColorUtil.FromDrawingColor(ChartColors.Blue),
            Fill = FillingMode.Disabled
        };

        IDataset<double> datasetUserSolarProduction = new LineDataset<double>()
        {
            Label = "Produkcja energii elektrycznej",
            BackgroundColor = ColorUtil.FromDrawingColor(ChartColors.Blue),
            BorderColor = ColorUtil.FromDrawingColor(ChartColors.Blue),
            Fill = FillingMode.Disabled
        };

        IDataset<int> dataset3 = new BarDataset<int>(RandomScalingFactor(InitalCount))
        {
            Label = "My second dataset",
            BackgroundColor = ColorUtil.FromDrawingColor(Color.FromArgb(128, ChartColors.Blue)),
            BorderColor = ColorUtil.FromDrawingColor(ChartColors.Blue),
            BorderWidth = 1
        };

        ppes = getDatasetService.GetAllClients(userUsageModel);
        time = getDatasetService.GetAxisX(userUsageModel, ppes[0]);  

        foreach (string testo in time)
        {
            int indexOf = testo.IndexOf(' ');
            string newString = string.Empty;
            newString = testo.Substring(0, indexOf);
            timeTrimmed.Add(newString);
        }

        LineDataset<double> actualUserUsage = new LineDataset<double>();
        actualUserUsage = getDatasetService.GetAllDataset(userUsageModel);
        actualUserUsage.Label = "Wszyscy klienci";
        _config.Data.Datasets.Add(actualUserUsage);
        _config.Data.Labels.AddRange(timeTrimmed);

        var solarProduction = getDatasetService.GetOnlySolarProductionDataset(solarProductionModel);
        _config2.Data.Labels.AddRange(timeTrimmed);
        _config2.Data.Datasets.Add(solarProduction);

        var windProduction = getDatasetService.GetOnlyWindProductionDataset(windProductionModel);
        _config3.Data.Labels.AddRange(timeTrimmed);
        _config3.Data.Datasets.Add(windProduction);

        energyBalanceModel = calculateEnergyBalanceService.CalculatedEnergyBalanceModelBeforeBattery(solarProductionModel, windProductionModel, userUsageModel);
        var energyBalanceDataset = getDatasetService.GetEnergyBalance(energyBalanceModel);
        _config4.Data.Labels.AddRange(timeTrimmed);
        _config4.Data.Datasets.Add(energyBalanceDataset);

        var listOfEnergyBalanceAfterEVs = test2();
        var energyBalanceAfterEVDataset = getDatasetService.GetEnergyBalance(listOfEnergyBalanceAfterEVs, true);

        _config5 = LineConfigPreparationEnergyBalance("Bilans Końcowy Energii z autami elektrycznych", "Dni", "kW/h", Convert.ToInt32(energyBalanceDataset.Max()), Convert.ToInt32(energyBalanceDataset.Min()));
        _config5.Data.Labels.AddRange(timeTrimmed);
        _config5.Data.Datasets.Add(energyBalanceAfterEVDataset);
    }

    private void RedirectToUseOfEnergySite()
    {
        NavManager.NavigateTo("/useofenergy");
    }

    private void RedirectToEnergyProductionSite()
    {
        NavManager.NavigateTo("/ownenergyproduction");
    }

    private void RedirectToWindAndOthersEnergyProductionSite()
    {
        NavManager.NavigateTo("/energyproduction");
    }    

    private void RedirectToEnergyBalance()
    {
        NavManager.NavigateTo("/energybalance");
    }

    private void RandomizeData()
    {
        foreach (IDataset<int> dataset in _config.Data.Datasets)
        {
            int count = dataset.Count;
            dataset.Clear();
            dataset.AddRange(RandomScalingFactor(count));
        }

        _chart.Update();
    }

    public List<EnergyBalanceModel> test2()
    {
        GetDatasetService getDatasetService = new GetDatasetService();
        List<UserUsageModel> userUsageModel = importCSVService.ReturnList(true, false);
        CalculateEnergyBalanceService calculateEnergyBalance = new CalculateEnergyBalanceService();
        List<SolarProductionDataModel> solarProductionModel = importCSVService.ReturnListSolar(false, false);
        List<WindProductionDataModel> windProductionModel = importCSVService.ReturnListWind(false, false);

        var energyBalance = calculateEnergyBalance.CalculatedEnergyBalanceModelBeforeBattery(solarProductionModel, windProductionModel, userUsageModel);

        List<EVEnergyBalanceModel> listEVBalance = new List<EVEnergyBalanceModel>();
        EVEnergyBalanceModel car1 = new EVEnergyBalanceModel();
        EVEnergyBalanceModel car2 = new EVEnergyBalanceModel();
        EVEnergyBalanceModel car3 = new EVEnergyBalanceModel();
        EVEnergyBalanceModel car4 = new EVEnergyBalanceModel();
        EVEnergyBalanceModel car5 = new EVEnergyBalanceModel();
        EVEnergyBalanceModel car6 = new EVEnergyBalanceModel();
        EVEnergyBalanceModel car7 = new EVEnergyBalanceModel();
        EVEnergyBalanceModel car8 = new EVEnergyBalanceModel();
        Dictionary<DayOfWeek, TimeOnly> carGetOut = new Dictionary<DayOfWeek, TimeOnly>();
        TimeOnly mondayFridayTimeOut = new TimeOnly(7, 0);
        carGetOut.Add(DayOfWeek.Monday, mondayFridayTimeOut);
        carGetOut.Add(DayOfWeek.Tuesday, mondayFridayTimeOut);
        carGetOut.Add(DayOfWeek.Wednesday, mondayFridayTimeOut);
        carGetOut.Add(DayOfWeek.Thursday, mondayFridayTimeOut);
        carGetOut.Add(DayOfWeek.Friday, mondayFridayTimeOut);
        carGetOut.Add(DayOfWeek.Saturday, mondayFridayTimeOut);
        carGetOut.Add(DayOfWeek.Sunday, mondayFridayTimeOut);

        Dictionary<DayOfWeek, TimeOnly> carGetIn = new Dictionary<DayOfWeek, TimeOnly>();
        TimeOnly mondayFridayTimeIn = new TimeOnly(16, 0);
        carGetIn.Add(DayOfWeek.Monday, mondayFridayTimeIn);
        carGetIn.Add(DayOfWeek.Tuesday, mondayFridayTimeIn);
        carGetIn.Add(DayOfWeek.Wednesday, mondayFridayTimeIn);
        carGetIn.Add(DayOfWeek.Thursday, mondayFridayTimeIn);
        carGetIn.Add(DayOfWeek.Friday, mondayFridayTimeIn);
        carGetIn.Add(DayOfWeek.Saturday, mondayFridayTimeIn);
        carGetIn.Add(DayOfWeek.Sunday, mondayFridayTimeIn);

        Dictionary<DayOfWeek, TimeOnly> carGetOut2 = new Dictionary<DayOfWeek, TimeOnly>();
        TimeOnly mondayFridayTimeOut2 = new TimeOnly(1, 59);
        carGetOut2.Add(DayOfWeek.Monday, mondayFridayTimeOut);
        carGetOut2.Add(DayOfWeek.Tuesday, mondayFridayTimeOut);
        carGetOut2.Add(DayOfWeek.Wednesday, mondayFridayTimeOut);
        carGetOut2.Add(DayOfWeek.Thursday, mondayFridayTimeOut);
        carGetOut2.Add(DayOfWeek.Friday, mondayFridayTimeOut);
        carGetOut2.Add(DayOfWeek.Saturday, mondayFridayTimeOut);
        carGetOut2.Add(DayOfWeek.Sunday, mondayFridayTimeOut);

        Dictionary<DayOfWeek, TimeOnly> carGetIn2 = new Dictionary<DayOfWeek, TimeOnly>();
        TimeOnly mondayFridayTimeIn2 = new TimeOnly(2, 0);
        carGetIn2.Add(DayOfWeek.Monday, mondayFridayTimeIn);
        carGetIn2.Add(DayOfWeek.Tuesday, mondayFridayTimeIn);
        carGetIn2.Add(DayOfWeek.Wednesday, mondayFridayTimeIn);
        carGetIn2.Add(DayOfWeek.Thursday, mondayFridayTimeIn);
        carGetIn2.Add(DayOfWeek.Friday, mondayFridayTimeIn);
        carGetIn2.Add(DayOfWeek.Saturday, mondayFridayTimeIn);
        carGetIn2.Add(DayOfWeek.Sunday, mondayFridayTimeIn);

        car1.Id = 0;
        car1.MaxEnergy = 70;
        car1.StoredEnergy = new List<double>();
        car1.StoredEnergy.Add(35.0);
        car1.LoadedEnergyForAMinute = 0;
        car1.CarOutOfGridTime = carGetOut;
        car1.CarComeBackToGridTime = carGetIn;

        car2.Id = 1;
        car2.MaxEnergy = 60;
        car2.StoredEnergy = new List<double>();
        car2.StoredEnergy.Add(35.0);
        car2.LoadedEnergyForAMinute = 0;
        car2.CarOutOfGridTime = carGetOut;
        car2.CarComeBackToGridTime = carGetIn;

        car3.Id = 2;
        car3.MaxEnergy = 70;
        car3.StoredEnergy = new List<double>();
        car3.StoredEnergy.Add(40.0);
        car3.LoadedEnergyForAMinute = 0;
        car3.CarOutOfGridTime = carGetOut2;
        car3.CarComeBackToGridTime = carGetIn2;

        car4.Id = 3;
        car4.MaxEnergy = 70;
        car4.StoredEnergy = new List<double>();
        car4.StoredEnergy.Add(35.0);
        car4.LoadedEnergyForAMinute = 0;
        car4.CarOutOfGridTime = carGetOut2;
        car4.CarComeBackToGridTime = carGetIn2;

        car5.Id = 4;
        car5.MaxEnergy = 70;
        car5.StoredEnergy = new List<double>();
        car5.StoredEnergy.Add(60.0);
        car5.LoadedEnergyForAMinute = 0;
        car5.CarOutOfGridTime = carGetOut2;
        car5.CarComeBackToGridTime = carGetIn2;

        car6.Id = 5;
        car6.MaxEnergy = 70;
        car6.StoredEnergy = new List<double>();
        car6.StoredEnergy.Add(35.0);
        car6.LoadedEnergyForAMinute = 0;
        car6.CarOutOfGridTime = carGetOut2;
        car6.CarComeBackToGridTime = carGetIn2;

        car7.Id = 6;
        car7.MaxEnergy = 700;
        car7.StoredEnergy = new List<double>();
        car7.StoredEnergy.Add(350.0);
        car7.LoadedEnergyForAMinute = 0;
        car7.CarOutOfGridTime = carGetOut2;
        car7.CarComeBackToGridTime = carGetIn2;

        car8.Id = 7;
        car8.MaxEnergy = 700;
        car8.StoredEnergy = new List<double>();
        car8.StoredEnergy.Add(350.0);
        car8.LoadedEnergyForAMinute = 0;
        car8.CarOutOfGridTime = carGetOut2;
        car8.CarComeBackToGridTime = carGetIn2;

        listEVBalance.Add(car1);
        listEVBalance.Add(car2);
        listEVBalance.Add(car3);
        listEVBalance.Add(car4);
        listEVBalance.Add(car5);
        listEVBalance.Add(car6);
        listEVBalance.Add(car7);
        listEVBalance.Add(car8);

        EVEnergyBalanceService EVservice = new EVEnergyBalanceService(listEVBalance, energyBalance);
        //var test = EVservice.GetValuesBeforeUsage(energyBalance, listEVBalance);
        //EVEnergyBalanceService EVservice2 = new EVEnergyBalanceService(test, energyBalance);
        var listOfEnergyBalanceAfterEVs = EVservice.GetEVEnergyBalance();

        return listOfEnergyBalanceAfterEVs;
    }


    private void AddDataset()
    {
        string color = ColorUtil.FromDrawingColor(ChartColors.All[_config.Data.Datasets.Count % ChartColors.All.Count]);
        IDataset<int> dataset = new LineDataset<int>(RandomScalingFactor(_config.Data.Labels.Count))
        {
            Label = $"Dataset {_config.Data.Datasets.Count}",
            BackgroundColor = color,
            BorderColor = color,
            Fill = FillingMode.Disabled
        };

        _config.Data.Datasets.Add(dataset);
        _chart.Update();
    }

    private void RemoveDataset()
    {
        IList<IDataset> datasets = _config.Data.Datasets;
        if (datasets.Count == 0)
            return;

        datasets.RemoveAt(datasets.Count - 1);
        _chart.Update();
    }

    private void AddData()
    {
        if (_config.Data.Datasets.Count == 0)
            return;

        string month = Months[_config.Data.Labels.Count % Months.Count];
        _config.Data.Labels.Add(month);

        foreach (IDataset<int> dataset in _config.Data.Datasets)
        {
            dataset.Add(RandomScalingFactor());
        }

        _chart.Update();
    }

    private void RemoveData()
    {
        if (_config.Data.Datasets.Count == 0 ||
            _config.Data.Labels.Count == 0)
        {
            return;
        }

        _config.Data.Labels.RemoveAt(_config.Data.Labels.Count - 1);

        foreach (IDataset<int> dataset in _config.Data.Datasets)
        {
            dataset.RemoveAt(dataset.Count - 1);
        }

        _chart.Update();
    }

    private void RandomizeDataBar()
    {
        foreach (IDataset<int> dataset in _config4.Data.Datasets)
        {
            int count = dataset.Count;
            dataset.Clear();
            for (int i = 0; i < count; i++)
            {
                if (_rng.NextDouble() < 0.2)
                {
                    dataset.Add(0);
                }
                else
                {
                    dataset.Add(RandomScalingFactor());
                }
            }
        }

        _chart4.Update();
    }

    private void AddDatasetBar()
    {
        Color color = ChartColors.All[_config4.Data.Datasets.Count % ChartColors.All.Count];
        IDataset<int> dataset = new BarDataset<int>(RandomScalingFactor(_config4.Data.Labels.Count))
        {
            Label = $"Dataset {_config4.Data.Datasets.Count}",
            BackgroundColor = ColorUtil.FromDrawingColor(Color.FromArgb(128, color)),
            BorderColor = ColorUtil.FromDrawingColor(color),
            BorderWidth = 1
        };

        _config4.Data.Datasets.Add(dataset);
        _chart4.Update();
    }

    private LineConfig LineConfigPreparation(string titleOfGraph, string xAxisName, string yAxisName)
    {
        var newConfig = new LineConfig
        {
            Options = new LineOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = $"{titleOfGraph}"
                },
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Hover = new Hover
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Scales = new Scales
                {
                    XAxes = new List<CartesianAxis>
                    {
                        new CategoryAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                Display = true,
                                LabelString = $"{xAxisName}"
                            }
                        }
                    },
                    YAxes = new List<CartesianAxis>
                    {
                        new LinearCartesianAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                Display = true,
                                LabelString = $"{yAxisName}"
                            }
                        }
                    }
                }
            }
        };
        return newConfig;
    }

    private LineConfig LineConfigPreparationEnergyBalance(string titleOfGraph, string xAxisName, string yAxisName, int suggestedMaxYAxisValue = 150, int suggestedMinYAxisValue = -150)
    {
        var newConfig = new LineConfig
            {
                Options = new LineOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle
                    {
                        Display = true,
                        Text = $"{titleOfGraph}"
                    },
                    Tooltips = new Tooltips
                    {
                        Mode = InteractionMode.Nearest,
                        Intersect = true
                    },
                    Hover = new Hover
                    {
                        Mode = InteractionMode.Nearest,
                        Intersect = true
                    },
                    Scales = new Scales
                    {
                        XAxes = new List<CartesianAxis>
                        {
                            new CategoryAxis
                            {
                                ScaleLabel = new ScaleLabel
                                {
                                    Display = true,
                                    LabelString = $"{xAxisName}"
                                }
                            }
                        },
                        YAxes = new List<CartesianAxis>
                    {
                        new LinearCartesianAxis
                        {
                            Ticks = new LinearCartesianTicks
                            {
                                SuggestedMax = suggestedMaxYAxisValue,
                                SuggestedMin = suggestedMinYAxisValue
                            },
                            ScaleLabel = new ScaleLabel
                            {
                                Display = true,
                                LabelString = $"{yAxisName}",

                            }
                        }

                    }
                }
            }
        };
        return newConfig;
    }
}