@page "/"
@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.BarChart
@using AplikacjaSmartGrid.Graphs.Model;
@using System.Drawing
@inject NavigationManager NavManager

<PageTitle>Strona Główna</PageTitle>
<div class="d-flex justify-content-center"><h1>Smart Grid App</h1></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                    <div class="col-lg-">
                    </div>
                    <div class="col-">
                        <label for="ApplyCSVForProductionWind">Załącz plik produkcji energii wiatrowej</label>
                    <input type="file" class="form-control" id="ApplyCSVForProductionWind" aria-describedby="ApplyCSVForProductionWind" placeholder="Załącz CSV produkcji energii wiatrowej">
                                            <label for="ApplyCSVOfUsage">Załącz plik zużycia energii</label>
                    <input type="file" class="form-control" id="ApplyCSVOfUsage" aria-describedby="ApplyCSVOfUsage" placeholder="Załącz plik CSV zużycia energii">
                                            <label for="ApplyCSVForProductionSolar">Załącz plik produkcji energii słonecznej</label>
                    <input type="file" class="form-control" id="ApplyCSVForProductionSolar" aria-describedby="ApplyCSVForProductionSolar" placeholder="Załącz CSV produkcji energii słonecznej">
                     <label for="applyCalendarStart">Wybierz dzień początku symulacji</label>
    <input type="date" class="form-control" id="applyCalendarStart" aria-describedby="applyCalendarStart" placeholder="">
                         <label for="applyCalendarStart">Wybierz dzień końca symulacji</label>
    <input type="date" class="form-control" id="applyCalendarStart" aria-describedby="applyCalendarStart" placeholder="">
                    </div>
                     <div class="col-lg-">
                    </div>
                </div>
            </div>
        </div>
 </div>


@code {

}