@page "/reports"
@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.BarChart
@using AplikacjaSmartGrid.Graphs.Model;
@using System.Drawing
@inject NavigationManager NavManager
@inject AppState AppState

<PageTitle>Strona Główna</PageTitle>
<div class="d-flex justify-content-center"><h1>Smart Grid App</h1></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                    <div class="col-lg-">
                    </div>
                    <div class="col-">
                        <label for="ApplyCSVForProductionWind">Podaj folder do którego wyeksportować pliki csv</label>
                    <input @bind-value="PathToFolder" type="text" class="form-control" id="PathToFolder" aria-describedby="PathToFolder" placeholder="Wybierz folder do zapisania raportów">

                     <label for="ApplyCSVForCarList">Symulacja zostanie przeprowadzona od 1.04 do 31.10:</label>
                     <br/>
                        <div class="col-sm justify-content-center">
                     <b><label for="Co2Wind">Wpisz wartość ekwiwalentu CO2/kWh dla energii wyprodukowanej z elektrowni wiatrowych:</label></b>
                    <input @bind-value="Co2Wind" type="number" class="form-control" id="Co2Wind" aria-describedby="Co2Wind" placeholder="">
                                         <b><label for="Co2Wind">Wpisz wartość ekwiwalentu CO2/kWh dla energii wyprodukowanej przez panele fotowoltaiczne:</label></b>
                    <input @bind-value="Co2Solar" type="number" class="form-control" id="Co2Wind" aria-describedby="Co2Wind" placeholder="">
                                         <b><label for="Co2Wind">Wpisz wartość CO2/kWh dla energii którą należałoby dostarczyć do sieci by pokryć deficyt:</label></b>
                    <input @bind-value="Co2Rest" type="number" class="form-control" id="Co2Wind" aria-describedby="Co2Wind" placeholder="">
                            <button @onclick="GoToReportsAndGenerateThem">Sprawdź balans energii</button>
                        </div>

                           <label> Sumaryczna wartość nadwyżki energii w sieci zasilanej przez źródła odnawialne: @EnergyBalanceSumOfSurplusBeforeEvs kWh</label>
                           <br />
                           <label> Sumaryczna wartość deficytu energii w sieci zasilanej przez źródła odnawialne: @EnergyBalanceSumOfDeficitBeforeEvs kWh</label>
                           <br />
                           <br />
                           <label> Sumaryczna wartość nadwyżki energii w Inteligentnej sieci zasilanej przez źródła odnawialne: @EnergyBalanceSumOfSurplusAfterEvs kWh</label>
                           <br />
                           <label> Sumaryczna wartość deficytu energii w Inteligentnej sieci zasilanej przez źródła odnawialne: @EnergyBalanceSumOfDeficitAfterEvs kWh</label>
                                                      <br />
                           <label> Średnia wartość dla zaproponowanego modelu Inteligetnej Sieci Energetycznej CO2/kWh : @Co2PerKwh CO2/kWh</label>
                </div>
            </div>
        </div>
 </div>
 </div>


@code {
    string PathToFolder = @"D:\PULPIT\PlikiDoPracyMagisterskiej";
    double EnergyBalanceSumOfSurplusBeforeEvs = 0;
    double EnergyBalanceSumOfDeficitBeforeEvs = 0;
    double EnergyBalanceSumOfSurplusAfterEvs = 0;
    double EnergyBalanceSumOfDeficitAfterEvs = 0;
    double Co2Wind = 34.11;
    double Co2Solar = 49.91;
    double Co2Rest = 436;
    double Co2PerKwh = 0;

    private void GoToReportsAndGenerateThem()
    {
        ImportCSVService importCSVService = new ImportCSVService();
        GetDatasetService getDatasetService = new GetDatasetService();
        CalculateEnergyBalanceService calculateEnergyBalanceService = new CalculateEnergyBalanceService();
        CalculateEnergyBalanceService calculateEnergyBalance = new CalculateEnergyBalanceService();
        EVService eVService = new EVService();

        string pathToFolderEnergyBalance = PathToFolder + "EnergyModel.csv";
        string pathToFolderEnergyBalanceEV = PathToFolder + "EVEnergyModel.csv";

        List<UserUsageModel> userUsageModel = importCSVService.ReturnList(false, true, AppState.UsageOfEnergyList);
        List<SolarProductionDataModel> solarProductionModel = importCSVService.ReturnListSolar(true, false, AppState.ProductionOfSolarEnergy);
        List<WindProductionDataModel> windProductionModel = importCSVService.ReturnListWind(true, false, AppState.ProductionOfWindEnergy, AppState.InstalledPower);
        List<EnergyBalanceModel> energyBalanceModel = new List<EnergyBalanceModel>();

        List<UserUsageModel> userUsageModelForEnergyBalance = importCSVService.ReturnList(true, false, AppState.UsageOfEnergyList);
        List<SolarProductionDataModel> solarProductionModelForEnergyBalance = importCSVService.ReturnListSolar(false, false, AppState.ProductionOfSolarEnergy);
        List<WindProductionDataModel> windProductionModelForEnergyBalance = importCSVService.ReturnListWind(false, false, AppState.ProductionOfWindEnergy, AppState.InstalledPower);
        List<EnergyBalanceModel> energyBalanceBeforeForCalculation = new List<EnergyBalanceModel>();

        var energyBalance = calculateEnergyBalance.CalculatedEnergyBalanceModelBeforeBattery(solarProductionModel, windProductionModel, userUsageModel);
        var energyBalanceBefore = calculateEnergyBalance.CalculatedEnergyBalanceModelBeforeBattery(solarProductionModelForEnergyBalance, 
            windProductionModelForEnergyBalance, userUsageModelForEnergyBalance);
        energyBalanceBeforeForCalculation = energyBalanceBefore;

        var eVList = eVService.getEVListFromCSV(AppState.CarListAtTheGrid);
        var energyBalanceBeforeEVsSurplus = from r in energyBalanceBeforeForCalculation
                                            where r.EnergyBalance > 0
                                            select r;
        EnergyBalanceSumOfSurplusBeforeEvs = energyBalanceBeforeEVsSurplus.Sum(x => x.EnergyBalance);
        var energyBalanceBeforeEVsNegative = from r in energyBalanceBeforeForCalculation
                                             where r.EnergyBalance < 0
                                             select r;
        EnergyBalanceSumOfDeficitBeforeEvs = energyBalanceBeforeEVsNegative.Sum(x => x.EnergyBalance);
        EVEnergyBalanceService EVservice = new EVEnergyBalanceService(eVList, energyBalanceBefore, AppState.UsageOfEVCarsDaily, 
            AppState.HowMuchEnergyCanEVLoadFromGridForAMinute, AppState.HowMuchEnergyCanEVDonateToGridForAMinute);
        var listOfEnergyBalanceAfterEVs = EVservice.GetEVEnergyBalance();
        PrintReportToFolder(pathToFolderEnergyBalance, energyBalanceBefore);
        PrintReportToFolder(pathToFolderEnergyBalanceEV, listOfEnergyBalanceAfterEVs);
        var energyBalanceAfterEVsSurplus = from r in listOfEnergyBalanceAfterEVs
                                           where r.EnergyBalance > 0
                                           select r;
        EnergyBalanceSumOfSurplusAfterEvs = energyBalanceAfterEVsSurplus.Sum(x => x.EnergyBalance);
        var energyBalanceAfterEVsNegative = from r in listOfEnergyBalanceAfterEVs
                                            where r.EnergyBalance < 0
                                            select r;
        EnergyBalanceSumOfDeficitAfterEvs = energyBalanceAfterEVsNegative.Sum(x => x.EnergyBalance);
        var sumOfProductionWindEnergy = windProductionModelForEnergyBalance.Sum(x => x.WindProduction);
        var sumOfProductionSolarEnergy = solarProductionModelForEnergyBalance.Sum(x => x.SolarProduction);
        var sumOfProductionWindEnergyCo2 = sumOfProductionWindEnergy * Co2Wind;
        var sumOfProductionSolarEnergyCo2 = sumOfProductionSolarEnergy * Co2Solar;
        var energyBalanceAfterEVsNegativeCo2 = Math.Abs(EnergyBalanceSumOfDeficitBeforeEvs) * Co2Rest;

        Co2PerKwh = (sumOfProductionWindEnergyCo2 + sumOfProductionSolarEnergyCo2 + energyBalanceAfterEVsNegativeCo2) / 
        (sumOfProductionWindEnergy + sumOfProductionSolarEnergy + Math.Abs(EnergyBalanceSumOfDeficitBeforeEvs));
    }

    private void PrintReportToFolder(string Path, List<EnergyBalanceModel> listEnergyBalance)
    {
        using (var file = File.CreateText(Path))
        {
            foreach(var arr in listEnergyBalance)
            {
                file.WriteLine(arr);
            }
        }
    }
}